<ion-view title="Chat" id="page9" style="background-color:#0087C7;">
  <ion-content padding="true" class="has-header">
    <form id="chat-form5" class="list">
      <ion-item class="item-divider" id="chat-list-item-divider3"> Item</ion-item>
      <ion-item class="item-divider" id="chat-list-item-divider4"> Item</ion-item>
      <ion-item class="item-divider" id="chat-list-item-divider5"> Item</ion-item>
      <ion-item class="item-divider" id="chat-list-item-divider6"> Item</ion-item>
      <ion-item class="item-divider" id="chat-list-item-divider7"> Item</ion-item>
      <ion-item class="item-divider" id="chat-list-item-divider8"> Item</ion-item>
      <label class="item item-input" id="chat-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="message">
      </label>
    </form>
  </ion-content>
</ion-view>