<ion-view title="Create Event" id="page8" style="background-color:#0087C7;">
  <ion-content padding="true" class="has-header">
    <form id="createEvent-form3" class="list">
      <label class="item item-input" id="createEvent-input3">
        <span class="input-label">Title</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="createEvent-input5">
        <span class="input-label">Where</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="createEvent-input7">
        <span class="input-label">Start time</span>
        <input type="date" placeholder="">
      </label>
      <label class="item item-input" id="createEvent-input4">
        <span class="input-label">End time</span>
        <input type="date" placeholder="">
      </label>
      <label class="item item-input" id="createEvent-input6">
        <span class="input-label">Description</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <button id="createEvent-button6" class="button button-stable button-block">Create</button>
  </ion-content>
</ion-view>