<ion-view title="Event Detail" id="page6" style="background-color:#0087C7;">
  <ion-content padding="true" class="has-header">
    <h1 id="eventDetail-heading1" style="color:#FFFFFF;">All Hands</h1>
    <div id="eventDetail-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">room 3
        <strong>markdown</strong>
      </p>
    </div>
    <div id="eventDetail-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>10am - 11am</strong>
      </p>
    </div>
    <div id="eventDetail-container1">
      <div id="eventDetail-markdown5" class="show-list-numbers-and-dots"></div>
    </div>
    <div id="eventDetail-container2">
      <div id="eventDetail-markdown6" class="show-list-numbers-and-dots">
        <p style="color:#FFFFFF;">Some description
          <strong>markdown</strong>
        </p>
      </div>
    </div>
    <button id="eventDetail-button5" class="button button-stable button-block">Join Chat</button>
  </ion-content>
</ion-view>