<ion-view title="Events List" id="page5" style="background-color:#0087C7;">
  <ion-content padding="true" class="has-header">
    <ion-list id="eventsList-list5">
      <ion-item class="item-icon-left" id="eventsList-list-item8" ui-sref="menu.eventDetail()">
        <i class="icon ion-ionic"></i>Event1</ion-item>
      <ion-item class="item-icon-left" id="eventsList-list-item9">
        <i class="icon ion-ionic"></i>Event2</ion-item>
      <ion-item class="item-icon-left" id="eventsList-list-item10">
        <i class="icon ion-ionic"></i>Event3</ion-item>
      <ion-item class="item-icon-left" id="eventsList-list-item11">
        <i class="icon ion-ionic"></i>Event4</ion-item>
      <ion-item class="item-icon-left" id="eventsList-list-item12">
        <i class="icon ion-ionic"></i>Event5</ion-item>
      <ion-item class="item-icon-left" id="eventsList-list-item13">
        <i class="icon ion-ionic"></i>Event6</ion-item>
    </ion-list>
  </ion-content>
</ion-view>